@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AEJ CONSULTING</h1>
    <p class="lead">AEJ is an industry-leading Software, Networking & Security, and Business Intelligence Consulting Firm</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Software</h2>
        <p>
            AEJ are experts in custom software development.  We specialize in desktop and mobile applications
            for businesses that refuse to settle for "out of the box" solutions that make your business adapt to them.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Networking & Hardware</h2>
        <p>
            From simple LANs to global WANs, AEJ can design a netowrk that will fit your business, run securely, and support all of
            your needs.  You run your business...we'll run the network your business runs on.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Business Intelligence</h2>
        <p>
            Today's most successful businesses understand that data and reporting are the key to maximizing
            profitability.  AEJ designs dashboards and BI solutions that work for you.
        
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Hardware</h2>
        <p>
            AEJ also keeps a significant inventory of hardware for most networks.  PCs, WAPs, Servers, 
            Network Attached Storage, and accessories of all kinds.  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>